    body{
      font-size: 1em;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: #999;
    }

    .sticky-sidebar {
      position: static; /* Remove sticky positioning by default */
      height: auto; /* Remove fixed height by default */
      overflow-y: auto; /* Enable vertical scrolling */
      padding:20px;
    }

    .content {
      padding-top: 150px; /* Adjust the padding value as needed */
    }

    /* Add padding for content on larger screens */
    @media (min-width: 992px) {
      .content {
        padding-top: 100px;
      }

      /* Make the sidebar sticky on larger screens */
      .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: calc(100vh - 20px); /* Adjust the height as needed */
      }

      /* Add sticky behavior to sub-navigation */
      .sticky-subnav {
        position: fixed;
        right:0;
        top: 80px; /* Adjust the top value to align it with the main navigation */
        width: 22%; /* Adjust the width as needed */
        height: 100vh; /* Adjust the height as needed */
        padding: 20px; /* Example padding, change as needed */
        overflow-y: auto; /* Enable vertical scrolling */
      }

    }


    /* Hide the sub-navigation on small screens */
    @media (max-width: 991px) {
      .sticky-subnav {
        display: none;
      }
    }

    .nav-item{
      margin:0;
      padding: 0;
      font-size: 0.9em;
      line-height: 0.9em;
    }

    .nav-link{
      color: #000;
      display: inline-block;
      position: relative;
      color: black;
      text-decoration: none;
    }

    h1, h2 {
      font-weight: 700;
    }

    .navbar {
      background-color: #FFF;
    }
    .black-icon {
      color: black;
      transition: transform 0.3s ease-in-out;
      font-size: 0.8em;
    }

    .nav-link:hover .black-icon {
      transform: translateX(3px); /* Adjust this value to set the desired right movement */
    }
