  
  <nav class="navbar navbar-expand border-bottom fixed-top px-3">
    <div class="container-fluid">
      <!-- Logo (left side) -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="assets/img/stones_docs_logo.png" alt="Logo" height="40" class="me-2">
      <span style="font-weight: 600; text-decoration: none;">Partner Guide</span>
    </a>

      
      <!-- Hamburger menu button (visible on mobile) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links (right side) -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Community</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="https://app.leadwithstones.com/partner/dashboard">Back to Stones <i class="fas fa-arrow-right black-icon"></i></a>
          </li>
          <!-- Add more links here as needed -->
        </ul>
      </div>
    </div>
  </nav>